# Python
backend/venv/
__pycache__/
*.py[cod]

# Environment variables
backend/.env

# Django
*.sqlite3

# React
frontend/node_modules/
frontend/dist/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Firebase Credentials
**/firebase-credentials.json
backend/config/firebase-credentials.json